VITE_OAKLAND_PARCEL_API_URL=https://gisservices.oakgov.com/arcgis/rest/services/Enterprise/EnterpriseOpenParcelDataMapService/MapServer/1
VITE_GOOGLE_GEOCODING_API_KEY=
VITE_GOOGLE_GEOCODING_REGION=us
